:root {
  --max-width: 900px;
  --max-width: 56.25rem;

  --max-view-width: 1440px;
  --max-view-width: 90rem;

  --radius: var(--sp-2xs-xs);
  --border: calc(var(--sp-6xs) / 2);
  /* Accessibility border */
  --a11y-border: calc(var(--sp-6xs) / 2);
  --lib-border: calc(var(--sp-6xs) / 2);
}
