.navbar {
  width: 100%;
  padding: var(--sp-xs);

  color: var(--onPrimary);
  background: var(--primary);
}

.maxwidth {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-3xs);
}

.hamburgerButton {
  display: none;

  font-size: var(--h4);

  color: var(--onPrimary);
}

.menu {
  position: fixed;
  left: 0;

  max-width: 100%;
  padding: var(--sp-s) var(--sp-l) var(--sp-s) var(--sp-s);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-xs);

  border-radius: 10px;

  font-size: var(--p);

  color: var(--onBackground);
  background: var(--background);
  box-shadow:
    0 10px 15px -3px rgba(17, 17, 17, 0.7),
    0 4px 6px -4px rgba(34, 34, 34, 0.7);
}

@media (max-width: 80em) {
  .hamburgerButton {
    display: block;
  }
}
